---
import AboutMe from '../components/AboutMe.astro'
import Degrees from '../components/Degrees.astro'
import Experience from '../components/Experience.astro'
import Hero from '../components/Hero.astro'
import Projects from '../components/Projects.astro'
import SectionContainer from '../components/SectionContainer.astro'
import SocialPill from '../components/SocialPill.astro'
import BriefcaseIcon from '../icons/Briefcase.astro'
import CodeIcon from '../icons/Code.astro'
import EmailIcon from '../icons/Email.astro'
import GitHubIcon from '../icons/GitHub.astro'
import LinkedInIcon from '../icons/LinkedIn.astro'
import PhoneIcon from '../icons/Phone.astro'
import UserIcon from '../icons/User.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
	title=`Porfolio "Steven Lema Velásquez" - Software Engineer & Full-Stack Developer`
	description="Te contactare a la brevedad"
>
	<main class="px-4">
		<SectionContainer id="hero" class="pt-64">
			<Hero />
			<nav class="mt-4 flex flex-col flex-wrap justify-center gap-x-4 gap-y-2 p-4 sm:flex-row">
				<SocialPill href="https://github.com/salema97">
					<GitHubIcon class="size-5" />
					GitHub
				</SocialPill>
				<SocialPill href="https://www.linkedin.com/in/salema97">
					<LinkedInIcon class="size-5" />
					LinkedIn
				</SocialPill>
				<SocialPill href="tel:+593988237106">
					<PhoneIcon class="size-6" />
					+593 98 823 7106
				</SocialPill>
				<SocialPill href="mailto:salemavelasquez97@gmail.com">
					<EmailIcon class="size-6" />
					salemavelasquez97@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="mb-6 flex items-center gap-x-3 text-3xl font-semibold">
				<BriefcaseIcon class="size-8" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="degree">
			<h2 class="mb-6 flex items-center gap-x-3 text-3xl font-semibold">
				<UserIcon class="size-8" />
				Títulos y Certificaciones
			</h2>
			<Degrees />
		</SectionContainer>
		<SectionContainer id="projects">
			<h2 class="mb-6 flex items-center gap-x-3 text-3xl font-semibold">
				<CodeIcon class="size-8" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
		<SectionContainer id="about">
			<h2 class="mb-6 flex items-center gap-x-3 text-3xl font-semibold">
				<UserIcon class="size-8" />
				Acerca de mí
			</h2>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
