---
export interface Props {
	color: string
}
const { color } = Astro.props
---

<span
	class=`me-2 rounded-md bg-${color}-100 px-2.5 py-0.5 text-xs font-medium text-${color}-800 dark:bg-${color}-900 dark:text-${color}-300`
>
	<slot />
</span>
