<form {...Astro.props}>
	<button
		class="flex items-center justify-center gap-x-2 rounded-md border border-light-3 bg-light-2/80 px-2 py-1 shadow-md shadow-light-3/70 transition marker:flex hover:scale-[1.02] hover:text-dark-6 dark:border-dark-4 dark:bg-dark-4/40 dark:shadow-dark-4/40 hover:dark:text-light-4 sm:mt-12 md:px-3 md:py-[0.30rem]"
		type="submit"
	>
		<slot />
	</button>
</form>
