<a
	{...Astro.props}
	data-accordion-target="#mega-menu-full"
	aria-expanded="false"
	aria-controls="mega-menu-full"
	class="nv:p-0 nv:hover:bg-transparent nv:hover:text-blue-700 nv:dark:hover:bg-transparent nv:dark:hover:text-blue-500 block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white"
>
	<slot />
</a>
