---
import DownloadIcon from '../icons/Download.astro'
---

<form method="get" action="/files/CV.pdf">
	<button
		class="flex items-center justify-center gap-x-2 rounded-md border border-light-3 bg-light-2/80 px-2 py-1 shadow-md shadow-light-3/70 transition marker:flex hover:scale-[1.02] hover:text-dark-6 dark:border-dark-2 dark:bg-dark-1/80 dark:shadow-dark-1/60 hover:dark:text-light-4 md:px-3 md:py-[0.30rem]"
		type="submit"
	>
		Descargar CV
		<DownloadIcon class="ml-2 size-4" />
	</button>
</form>
