---
import DownloadIcon from '../icons/Download.astro'
---

<form method="get" action="/files/CV.pdf">
	<button
		class="ring-offset-background focus-visible:ring-ring hover:bg-primary/90 inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md bg-black px-4 py-2 text-sm font-medium text-white"
		type="submit"
	>
		Descargar CV
		<DownloadIcon class="ml-2 size-4" />
	</button>
</form>
