---
import DegreeCard from './DegreeCard.astro'
import SliderControls from './SliderControls.astro'
import { DEGREES } from './js/Information.ts'
---

<div id="default-carousel" class="relative w-full" data-carousel="slide">
	<!-- Carousel wrapper -->
	<div class="relative h-[670px] overflow-hidden rounded-lg md:h-[500px]">
		{
			DEGREES.map((degrees) => (
				<div class="hidden duration-700 ease-in-out" data-carousel-item>
					<DegreeCard {...degrees} />
				</div>
			))
		}
	</div>
	<!-- Slider indicators -->
	<div class="absolute bottom-5 left-1/2 z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse">
		{
			DEGREES.map(({ id }) => (
				<button
					id={`carousel-indicator-${id}`}
					type="button"
					class="h-3 w-3 rounded-full"
					aria-current={id === 1 ? 'true' : 'false'}
					aria-label={`Slide ${id}`}
					data-carousel-slide-to={`Slide ${id - 1}`}
				/>
			))
		}
	</div>
	<SliderControls />
</div>
