---
import ExperienceItem from './ExperienceItem.astro'
import { EXPERIENCE } from './js/Information.ts'
---

<ol class="relative ml-3 border-s border-light-2 dark:border-dark-1">
	{
		EXPERIENCE.map((experience) => (
			<li class="mb-10 ms-6">
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
