---
import ExperienceItem from './ExperienceItem.astro'
import { TAGS } from './js/Tags.ts'

const EXPERIENCE = [
	{
		date: 'Marzo 2022 - Junio 2022',
		title: 'ADS Software',
		role: 'Pasante - Desarrollador de Software',
		description:
			'Mi experiencia laboral se centró en el diseño y desarrollo de Dynamic Link Libraries (DLLs) con el objetivo de facilitar la migración de sistemas heredados basados en Visual FoxPro hacia la plataforma moderna de Firebase.',
		tags: [TAGS.CSHARP, TAGS.FOX_PRO, TAGS.FIREBASE, TAGS.API, TAGS.DESKTOP]
	},
	{
		date: 'Diciembre 2021 - Febrero 2022',
		title: 'ACNUR',
		role: 'Pasante - Desarrollador de Software',
		description:
			'Participe en el Proyecto Social titulado (Asistencia Técnica para el Fortalecimiento de Emprendimientos de Personas Refugiadas, Solicitantes de Asilo y Personas de Interés de ACNUR en Pichincha y Santo Domingo de los Tsáchilas) en colaboración con ACNUR-HIAS-ESPE. En este proyecto, destinado a la población en movilidad humana, desempeñé el seguimiento, mantenimiento y desarrollo de la página web de Prowessec.',
		tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.SQL, TAGS.PHP, TAGS.WEB]
	}
]
---

<ol class="relative ml-3 border-s border-gray-200 dark:border-gray-700">
	{
		EXPERIENCE.map((experience) => (
			<li class="mb-10 ms-6">
				<ExperienceItem {...experience} />
			</li>
		))
	}
</ol>
