---
import Contact from './Contact.astro'
import HoverLink from './HoverLink.astro'

const year = new Date().getFullYear()
---

<footer
	class="m-4 mx-auto -mb-1 w-full rounded-md bg-white/50 shadow backdrop-blur-lg dark:bg-black/50 lg:max-w-4xl"
>
	<div class="mx-auto flex w-full max-w-screen-xl items-center justify-between p-4">
		<span class="text-sm text-light-6 dark:text-dark-6 sm:text-center"
			>© {year}
			<a
				target="_blank"
				rel="noopener noreferrer"
				href="https://github.com/salema97/salema97.github.io"
				class="dark:hover:text-light-4">salema97</a
			>
		</span>
		<ul class="mt-0 flex flex-wrap items-center text-sm font-medium">
			<li>
				<HoverLink href="about" class="scroll-to-anchor me-4 dark:hover:text-dark-6"
					>Acerca de mí</HoverLink
				>
			</li>
			<li>
				<Contact href="mailto:salemavelasquez97@gmail.com" class="dark:hover:text-dark-6"
					>Contacto</Contact
				>
			</li>
		</ul>
	</div>
</footer>

<script is:inline>
	document.querySelectorAll('.scroll-to-anchor').forEach((anchor) => {
		anchor.addEventListener('click', function (e) {
			e.preventDefault()

			let target = document.getElementById(this.getAttribute('href'))
			if (target) {
				target.scrollIntoView()
			}
		})
	})
</script>
