---
const year = new Date().getFullYear()
---

<footer
	class="m-4 mx-auto mb-10 w-full rounded-lg bg-white shadow backdrop-blur-lg dark:bg-black/20 lg:max-w-4xl"
>
	<div class="mx-auto flex w-full max-w-screen-xl items-center justify-between p-4">
		<span class="text-sm text-gray-500 dark:text-blue-700 sm:text-center"
			>© {year}
			<a href="https://github.com/salema97/salema97.github.io" class="hover:underline">salema97</a>.
		</span>
		<ul
			class="mt-3 flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
		>
			<li>
				<a href="#about" class="me-4 hover:underline md:me-6">Acerca de mí</a>
			</li>
			<li>
				<a href="mailto:salemavelasquez97@gmail.com" class="hover:underline">Contacto</a>
			</li>
		</ul>
	</div>
</footer>
