---
import Badge from './Badge.astro'
---

<div class="grid grid-flow-col grid-rows-3 items-center gap-8">
	<img
		class="row-span-3 size-48 rounded-full object-cover ring-2 ring-gray-300"
		src="/images/PHOTO.webp"
		alt="Profile picture"
		decoding="async"
	/>
	<h1
		class="col-span-2 flex flex-row gap-x-4 text-3xl font-bold text-white md:text-4xl lg:text-5xl"
	>
		Hola, soy Steven
		<a
			class="flex items-center justify-center"
			href="https://www.linkedin.com/in/salema97"
			rel="noopener"
			target="_blank"
		>
			<Badge>Disponible para trabajar</Badge>
		</a>
	</h1>
	<h2 class="col-span-2 row-span-2 text-wrap text-xl lg:text-2xl">
		<span class="font-semibold text-red-500/90">Ingeniero de Software</span>
		con sólidos conocimientos en el Desarrollo de Software, lo que me permite
		<span class="font-semibold text-sky-500/90">adquirir fácilmente nuevos conocimientos</span> en Lenguajes,
		Frameworks y Herramientas de desarrollo.
	</h2>
</div>
