<a
	{...Astro.props}
	data-accordion-target="#mega-menu-full"
	aria-expanded="false"
	aria-controls="mega-menu-full"
	class="scroll-to-anchor block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white nv:p-0 nv:hover:bg-transparent nv:hover:text-light-4 nv:dark:hover:bg-transparent nv:dark:hover:font-bold nv:dark:hover:text-dark-6"
>
	<slot />
</a>
