---
import ItalyFlag from '../icons/ItalyFlag.astro'
import SpainFlag from '../icons/SpainFlag.astro'
import USFlag from '../icons/USFlag.astro'
import LanguageItem from './LanguageItem.astro'

const { class: className, id } = Astro.props
---

<div class=`${className} flex items-center space-x-1 md:order-2 md:space-x-0 rtl:space-x-reverse`>
	<button
		type="button"
		data-dropdown-toggle="language-dropdown-menu"
		class="inline-flex cursor-pointer items-center justify-center rounded-lg px-4 py-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white"
	>
		Español
		<SpainFlag class="ml-2 size-4" />
	</button>
	<!-- Dropdown -->
	<div
		class="z-50 my-4 hidden list-none divide-y divide-gray-100 rounded-lg bg-white text-base shadow dark:bg-gray-700"
		id="language-dropdown-menu"
	>
		<ul class="py-2" role="none">
			<LanguageItem class="inline-flex items-center">
				Español
				<SpainFlag class="ml-2 size-4" />
			</LanguageItem>
			<LanguageItem class="inline-flex items-center">
				English (US)
				<USFlag class="ml-2 size-4" />
			</LanguageItem>
			<LanguageItem class="inline-flex items-center">
				Italiano
				<ItalyFlag class="ml-2 size-4" />
			</LanguageItem>
		</ul>
	</div>
</div>
