---
const { id, image }: { id?: string; image?: string } = Astro.props
---

<div
	id={id}
	tabindex="-1"
	aria-hidden="true"
	class="fixed inset-0 left-0 right-0 top-0 z-50 hidden max-h-full w-full items-center justify-center overflow-hidden"
>
	<div class="rounded-lg bg-light-2 p-2 shadow-sm dark:bg-dark-2">
		{
			image && (
				<img
					src={image}
					alt="Imagen del proyecto"
					class="h-auto max-h-[80vh] w-auto max-w-[80vw] rounded-lg"
				/>
			)
		}
	</div>
</div>
