---
import Languages from './Languages.astro'
---

<header
	class="fixed left-0 right-0 mx-auto flex w-full items-center justify-between py-4 xl:w-[1120px]"
>
	<img class="size-12 rounded-full" src="http://github.com/salema97.png" alt="Profile photo" />

	<nav class="flex flex-row gap-x-10 opacity-80">
		<a href="/">Inicio</a>
		<a href="#experience">Experiencia</a>
		<a href="#proyects">Proyectos</a>
		<a href="#about">Sobre mí</a>
		<a href="#contact">Contacto</a>
	</nav>

	<Languages />
</header>
