---
import MenuIcon from '../icons/Menu.astro'
import HoverLink from './HoverLink.astro'
import Languages from './Languages.astro'
---

<nav
	class="fixed start-0 top-0 z-50 w-full border-b border-gray-200 bg-white bg-fixed shadow-md shadow-black/10 dark:border-gray-600 dark:bg-gray-900"
>
	<div
		class="mx-auto flex max-w-screen-lg flex-wrap items-center justify-between p-4"
		data-accordion="open"
	>
		<img
			src="http://github.com/salema97.png"
			class="h-10 rounded-full p-1 ring-1 ring-gray-300"
			alt="Profile photo"
		/>
		<button
			id="menu-button"
			data-accordion-target="#mega-menu-full"
			aria-expanded="false"
			aria-controls="mega-menu-full"
			class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 md:hidden"
		>
			<MenuIcon />
		</button>
		<div
			id="mega-menu-full"
			aria-labelledby="menu-button"
			class="mt-4 hidden w-full flex-col items-center justify-between font-medium md:order-1 md:mt-0 md:flex md:w-auto md:flex-row md:space-x-8 rtl:space-x-reverse"
		>
			<HoverLink href="hero">Inicio</HoverLink>
			<HoverLink href="experience">Experiencia</HoverLink>
			<HoverLink href="degree">Títulos y Certificaciones</HoverLink>
			<HoverLink href="projects">Proyectos</HoverLink>
			<HoverLink href="about">Acerca de mí</HoverLink>
			<HoverLink href="contact">Contacto</HoverLink>
			<Languages />
		</div>
	</div>
</nav>
