---
import { PROJECTS } from '../components/js/Information.ts'
import ProjectCard from './ProjectCard.astro'

interface Project {
	title: string
	description: string
	link?: string
	github?: string
	image: string
	tags?: {
		name: string
		color: string
		icon?: any
	}[]
}
---

<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
	<!-- Columna 1 -->
	<div class="grid justify-center gap-4" id="column1">
		{
			PROJECTS.slice(0, Math.ceil(PROJECTS.length / 3)).map((project: Project) => (
				<ProjectCard PROJECTS={project} />
			))
		}
	</div>

	<!-- Columna 2 -->
	<div class="grid justify-center gap-4" id="column2">
		{
			PROJECTS.slice(Math.ceil(PROJECTS.length / 3), 2 * Math.ceil(PROJECTS.length / 3)).map(
				(project: Project) => <ProjectCard PROJECTS={project} />
			)
		}
	</div>

	<!-- Columna 3 -->
	<div class="grid justify-center gap-4" id="column3">
		{
			PROJECTS.slice(2 * Math.ceil(PROJECTS.length / 3), PROJECTS.length).map(
				(project: Project) => <ProjectCard PROJECTS={project} />
			)
		}
	</div>
</div>
