<a
	{...Astro.props}
	target="_blank"
	rel="noopener noreferrer"
	class="flex items-center justify-center gap-x-2 rounded-md border border-white/10 bg-white/5 px-2 py-1 text-xs transition marker:flex hover:scale-105 hover:bg-white/10 md:px-3 md:py-[0.30rem] lg:text-base"
>
	<slot />
</a>
