<a
	{...Astro.props}
	target="_blank"
	rel="noopener noreferrer"
	class="flex items-center justify-center gap-x-2 rounded-md border border-light-3 bg-light-2/80 px-2 py-1 shadow-md transition marker:flex hover:scale-[1.02] hover:text-dark-6 dark:border-dark-2 dark:bg-dark-1/80 dark:shadow-dark-1/60 hover:dark:text-light-4 md:px-3 md:py-[0.30rem]"
>
	<slot />
</a>
