---
import MoonIcon from '../icons/Moon.astro'
import SunIcon from '../icons/Sun.astro'
---

<button
	data-accordion-target="#mega-menu-full"
	aria-expanded="false"
	aria-controls="mega-menu-full"
	id="theme-toggle"
	type="button"
	class="rounded-lg p-2.5 text-sm text-gray-500 hover:bg-light-3 focus:outline-none dark:text-gray-400 dark:hover:bg-dark-4"
>
	<MoonIcon class="size-5" id="theme-toggle-dark-icon" />
	<SunIcon class="size-5" id="theme-toggle-light-icon" />
</button>

<script type="module">
	const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches
	const isDarkModeSet = localStorage.getItem('color-theme') === 'dark'
	document.documentElement.classList.toggle('dark', isDarkModeSet || prefersDarkMode)

	const themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon')
	const themeToggleLightIcon = document.getElementById('theme-toggle-light-icon')
	const themeToggleBtn = document.getElementById('theme-toggle')

	// Change the icons inside the button based on previous settings
	themeToggleDarkIcon.classList.toggle(
		'hidden',
		localStorage.getItem('color-theme') !== 'dark' &&
			('color-theme' in localStorage || !window.matchMedia('(prefers-color-scheme: dark)').matches)
	)
	themeToggleLightIcon.classList.toggle(
		'hidden',
		localStorage.getItem('color-theme') === 'dark' ||
			(!localStorage.getItem('color-theme') &&
				window.matchMedia('(prefers-color-scheme: dark)').matches)
	)

	themeToggleBtn.addEventListener('click', function () {
		// toggle icons inside button
		themeToggleDarkIcon.classList.toggle('hidden')
		themeToggleLightIcon.classList.toggle('hidden')

		// set color theme
		const isLightTheme = document.documentElement.classList.toggle('dark')
		localStorage.setItem('color-theme', isLightTheme ? 'light' : 'dark')
	})
</script>
