---
import Footer from '../components/Footer.astro'
import NavBar from '../components/NavBar.astro'
import '@fontsource/fira-sans-condensed'

interface Props {
	title: string
	description: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative text-black dark:text-white">
		<div
			class="fixed inset-0 -z-10 flex h-screen w-screen items-center justify-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#005e9f_100%)] dark:[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#0f2e43_100%)]"
		>
		</div>
		<NavBar />
		<slot />
		<Footer />
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</html>
<style is:global>
	:root {
		color-scheme: dark light;
	}
	html {
		font-family: 'Fira Sans Condensed', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		color: rgba(17, 17, 17, 0.9);
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: smooth;
		}
	}
</style>
