---
import Footer from '../components/Footer.astro'
import NavBar from '../components/NavBar.astro'
import '@fontsource/fira-sans-condensed'

interface Props {
	title: string
	description: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative text-black dark:text-white">
		<div
			id="background"
			class="fixed inset-0 -z-20 flex h-screen w-screen items-center justify-center px-5 py-24 blur-[2px] [background:radial-gradient(125%_125%_at_50%_10%,#FFF_40%,#638ECB_100%)] dark:[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#022B42_100%)]"
		>
		</div>
		<NavBar />
		<slot />
		<Footer />
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.globe.min.js"></script>
</html>
<style is:global>
	:root {
		color-scheme: dark light;
	}
	html {
		font-family: 'Fira Sans Condensed', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		color: rgba(17, 17, 17, 0.9);
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: smooth;
		}
	}
</style>

<script type="module">
	VANTA.GLOBE({
		el: '#background',
		mouseControls: true,
		touchControls: true,
		gyroControls: true,
		minHeight: 200.0,
		minWidth: 200.0,
		scale: 1.0,
		scaleMobile: 1.0,
		size: 2.0,
		color: 0x32030,
		color2: 0xffffff,
		backgroundAlpha: 0
	})
</script>
